@charset "UTF-8";


:root {
    --slide-width: 100vw;
}

/* font */
body {
	font-size: 25px;
	font-family: 'Pretendard-Regular';
}

.container {
    max-width: 1920px;
    width: 100%;
}

/* header */
header {
    position: sticky;
    top: 0;
    height: 53px;
    background-color: #fff;
    padding: 0px 7em;
    z-index: 10;
}

header .flex_wrap {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* logo */
header .logo_img img {
    height: 40px;
}

/* nav */
nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li button {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
    font-size: 1em;
}

nav ul li button:hover {
    color: #fde10c;
}

/* section */
.section {
    position: relative;
}

/* sec01 */
#sec01 {
    height: 870px;
    background: url(../images/main.jpg) no-repeat;
    background-size: 100%;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* #sec01:after {
    content: '';
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
} */

.slide_container article p {
    display: inline-block;
}

.slide_container article .title {
	font-family: 'Pretendard-Bold';
    font-size: 2.84em;
    line-height: 100px;
    margin-bottom: 50px;
}

.slide_container article .text {
    font-size: 1.24em;
    line-height: 50px;
}

.slide_container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide_wrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    transition: left 0.5s ease-in-out;
    display: grid;
    grid-template-rows: repeat(auto-fill, var(--slide-width));
    grid-auto-flow: column;
    margin: 0 auto;
}

.slide_container .slide_content {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide_container .slide_content article {
    width: 50vw;
    color: #fff;
}

.slideBtn {
    position: absolute;
    top: 50%;left: 50%;
    transform: translate(-50%, -50%);
    width: 95vw;
    display: flex;
    justify-content: space-between;
}

.slideBtn button {
    color: #fff;
    font-size: 4em;
}

/* sec02 */
#sec02 {
    height: 100vh;
}

.card_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100vw;
}

.card {
    width: 340px;
    height: 480px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: 0.5s;
}

.card:hover {
    transform: scale(1.1);
}

@media (max-width: 1480px) {
    .card_container {
        width: calc(100vw - 400px);
        transform: translate(-50%, -50%) scale(0.8);
    }
}

@media (max-width: 1210px) {
    .card_container {
        width: calc(100vw - 300px);
        transform: translate(-50%, -50%) scale(0.8);
    }
}

.card .card_img {
    height: 190px;
    overflow: hidden;
}

.card .card_img img {
    height: 120%;
}

.card article {
    position: relative;
    height: 230px;
    padding: 30px;
}

.card article p {
    display: inline-block;
}

.card article .title {
	font-family: 'Pretendard-Bold';
    font-size: 1.24em;
    line-height: 38px;
    margin-bottom: 20px;
}

.card article .text {
    font-size: 0.72em;
    line-height: 27px;
}

.card article .sub_text {
    position: absolute;
    left: 30px;
    bottom: 30px;
    font-size: 0.64em;
    line-height: 27px;
    color: #bdbdbd;
}

/* sec03 */
#sec03 {
    height: 100vh;
}

.drag_bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
}

.drop_area {
    position: absolute;
    top: 357px;
    left: 732px;
    width: 208px;
    height: 202px;
    background: #fff;
}

.drag_item {
    position: absolute;
    width: 210px;
    height: 210px;
    top: 610px;
    left: 1400px;
}

.drag_item img {
    transform: rotate(-27deg);
}

.drag_item.dropped img {
    transform: rotate(0deg);
    /* position: absolute;
    top: 23px;
    left: 28px; */
}






/* footer */
footer {
    position: relative;
    background-color: #1b1c1c;
    height: 350px;
    color: #fff;
    padding: 0px 10em;
    font-family: 'Pretendard-ExtraLight';
    font-size: 21px;
}

footer .footer_img {
    display: inline-block;
    height: 64px;
    margin-top: 100px;
    margin-bottom: 30px;
}

footer .footer_img img {
    height: 100%;
    filter: brightness(0) contrast(100) invert(1);
}